@{
    ViewData["Title"] = "Trang chủ";
}

@model HakunaMatata.Models.ViewModels.Condition;

@section scripts{
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNI_ZWPqvdS6r6gPVO50I4TlYkfkZdXh8&callback=LoadMarker">
    </script>
    <script type="text/javascript" src="~/assets/js/maplace-active.js"></script>
}
    <!-- banner area start -->
    <div class="banner-area jarallax" style="background-image: url(../assets/img/banner/bg2.jpg);">
        <div class="container">
            <div class="banner-inner-wrap">
                <div class="main-search-area">
                    <div class="container">
                        <div class="container-first">
                            <div class="container-first-content col-xl-7">
                                <h3>Feature that is amazing</h3>
                                <p style="" class="container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <div class="col-xl-4 col-lg-6 col-md-6 btn-container">
                                    <input style="background-color: white ; color: black" class="btn" type="submit" value="SIGN UP NOW" />
                                </div>
                            </div>
                            <img class="img-first-content col-xl-5" src="../assets/img/banner/bg2.jpg" />
                        </div>

                        <div class="h1 text-center">Bạn đang tìm gì?</div>
                        <p class="container-text text-center col-md-4 offset-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="banner-search-wrap">
                            <div class="tab-content">
                                <div class="tab-pane fade show active">
                                    <form asp-action="Index" asp-controller="RealEstate" method="get">
                                        <div class="rld-main-search">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="rld-single-input left-icon">
                                                        <input asp-for="SearchString" type="text" placeholder="Nhập khu vực cần tìm kiếm">
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-lg-6 col-md-6 px-xl-0">
                                                    <div class="rld-single-select">
                                                        <select asp-for="City" class="select single-select" asp-items="ViewBag.Cities">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-lg-6 col-md-6 pr-xl-0">
                                                    <div class="rld-single-select">
                                                        <select asp-for="Type" class="select single-select" asp-items="ViewBag.Types">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <input class="btn btn-yellow" type="submit" value="TÌM KIẾM" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
    <!-- property of the week start -->
    <div class="h1 text-center property">Property of the week</div>
    <p class="container-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    <div class="container text-center">

        <div class="property-filter-area row row-cols-4 custom-gutter" style="position: relative; height: 419.4px;">
        @foreach (var item in ViewBag.Top4)
        {
            <div class="rld-filter-item col-lg-3 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                <div class="single-feature">
                    <div class="thumb">
                        <img src="/assets/img/samplehouse.jpg" style="width:100%;height:100%; object-fit:cover;" alt="img">

                    </div>
                    <div class="details">

                        <p class="author text-primary"><i class="fab fa-canadian-maple-leaf"></i> PHÒNG TRỌ</p>
                        <h6 class="title"><a href="/thong-tin-chi-tiet?id=3"><i class="fas fa-map-marker-alt"></i>@item.Title</a></h6>
                        <div class="d-flex">
                            <div class="h5 price mr-auto">@item.Price VNĐ/tháng</div>
                            <div class="font-weight-bold">
                                <img src="/assets/img/icons/7.png" alt="img"> 100 m<sub style="vertical-align:super">2</sub>
                            </div>
                        </div>

                        <ul class="info-list d-flex">
                            <li class="mr-auto">Đăng bởi: <span class="font-weight-bold">@item.AgentName</span></li>
@*                            <li>@item.PostTime</li>*@
                        </ul>
                        <ul class="contact-list">
                            <li><a class="btn btn-yellow" asp-action="/RealEstate/Details" asp-route-id="@item.Id">Chi tiết</a></li>
                        </ul>
                    </div>
                </div>
        
            </div>
            }
        </div>
        

    </div>
    <!-- property of the week end -->
    <!-- news start -->

    <div class="container">
        <div class="h1 news">Featured news/research</div>
        <div class="property-filter-area row row-cols-4 custom-gutter" style="position: relative; height: 419.4px;">
            <div class="rld-filter-item col-lg-4 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                <div class="single-feature">
                    <div class="thumb">
                        <img src="/assets/img/samplehouse.jpg" style="width:100%;height:100%; object-fit:cover;" alt="img">

                    </div>
                    <div class="details">
                        <p style="color:black" class="container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <ul class="contact-list">
                            <li><a class="btn btn-yellow" href="/thong-tin-chi-tiet?id=3">Chi tiết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rld-filter-item col-lg-4 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                <div class="single-feature">
                    <div class="thumb">
                        <img src="/assets/img/banner/4.jpg" style="width:100%;height:100%; object-fit:cover;" alt="img">

                    </div>
                    <div class="details">
                            <p style="color:black" class="container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <ul class="contact-list">
                            <li><a class="btn btn-yellow" href="/thong-tin-chi-tiet?id=3">Chi tiết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rld-filter-item col-lg-4 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                <div class="single-feature">
                    <div class="thumb">
                            <img src="/assets/img/banner/4.jpg" style="width:100%;height:100%; object-fit:cover;" alt="img">

                    </div>
                    <div class="details">
                            <p style="color:black" class="container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <ul class="contact-list">
                            <li><a class="btn btn-yellow" href="/thong-tin-chi-tiet?id=3">Chi tiết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title text-center">
        <h2 class="title">Tìm kiếm trên bản đồ</h2>
    </div>

    <div class="banner-area banner-search">
        <div id="map" style="height: 88vh"></div>
    </div>
    <style>
        .container-first {
            display: flex;
            padding-top: 170px;
            padding-bottom: 40px;
            color: black;
        }

        .container-text {
            padding: 24px 0;
        }

        .btn-container {
            padding-left: 0;
        }

            .btn-container .btn {
                border: 1px solid #000;
                background-color: #0000;
            }

        .img-first-content {
            height: 300px;
            width: 100%;
        }

        .banner-inner-wrap {
            height: 128vh;
        }

        .property {
            padding-top: 20px;
        }

        .news {
            padding-top: 30px;
            padding-bottom: 16px;
        }
        li {
            color: black;
        }

    </style>

